html{
	box-sizing: border-box;
	background-color: #3a3a3a;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body{
	display: flex;
}

#uiContainer{
	display: flex;
	flex-direction: column;
	margin: 2px;
	gap: 6px;
	align-items: stretch;
}

button{
	font-size: 20px;
}

#sketchContainer{
	display: flex;
	flex-wrap: wrap;
	background-color: #ececec;
}

.gridBlock{
	background-color: #919191;
	border: 1px solid white;
}

.gridBlockOnHover{
	background-color: #3a3a3a;
	border: 1px solid white;
}

.gridBlockOnHoverRandom{
	border: 1px solid white;
}

.changeOpacity{
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.opacityStatus{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	background-color: #919191;
	color: #3a3a3a;
}