html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

#sketchContainer{
	display: flex;
	flex-wrap: wrap;
}

.gridBlock{
	background-color: white;
	border: 1px solid black;
}

.gridBlockOnHover{
	background-color: #3a3a3a;
	border: 1px solid black;
}